.container{
    text-align: center;
    margin: auto;
}

.img-container{
    padding: 20px;
    margin: 30px;
    
}

.img-container img{
    width: 40%;   
}

h1{
    font-size: 40px;
    text-decoration: underline;
    font-style: italic;
}