<div class="container">
    <div class="info-container">
        <div class="logo-container">
            <img src="../../../../assets/MiListaLogo.PNG" alt="">
        </div>
        <div class="titulo-container">
            <h1>¡Bienvenido a Mi Lista!</h1>
            <h1>El lugar donde centralizamos todos los datos de los alumnos de la escuela</h1>
        </div>

    </div>

    <div class="btn-container">
        <button mat-raised-button color="primary" (click)="redirigirListaAlumnos()">
            <mat-icon>list_alt</mat-icon>
            Ver lista de alumnos
        </button>
    </div>

    <div class="btn-container">
        <button mat-raised-button color="primary" (click)="redirigirDatosAlumnos()">
            <mat-icon>info</mat-icon>
            Ver información de mis alumnos
        </button>
    </div>

    <div class="btn-container">
        <button mat-raised-button color="primary" (click)="redirigirFormularioAgregarAlumno()">
            <mat-icon>person_add</mat-icon>
            Agregar alumno
        </button>
    </div>

    <div class="btn-container">
        <button mat-raised-button color="primary" (click)="redirigirCursosAsignados()">
            <mat-icon>arrow_circle_right</mat-icon>
            Ver cursos a los que estoy asignado
        </button>
    </div>

</div>