<div class="img-container">
    <img src="../../../../assets/MiListaLogo.PNG" alt="">
</div>

<div class="form-container">

    <div class="titulo2">
        <h1>Ingresa tu usuario y contraseña</h1>
        <div class="titulo2">
            <h2>Creación de nuevo usuario</h2>
        </div>
    </div>
    <form [formGroup]="createForm">
        <div class="example-container">

            <mat-form-field class="field-container">
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>

            <mat-form-field class="field-container">
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>

            <div class="btn-container">
                <button [disabled]="!createForm.valid" mat-raised-button color="primary" mat-button
                    (click)="crearUsuario()">Enviar</button>
            </div>
        </div>
    </form>
</div>

<div class="hipervinculos">

    <!-- <h2>¿Olvidaste tu contraseña? <a href="auth/cambiarcontrasena">HACE CLICK AQUÍ</a></h2> -->
    <h2>¿Olvidaste tu contraseña? <a routerLink="../cambiarcontrasena">HACE CLICK AQUÍ</a></h2>

    <h2><a routerLink="../login">Volver al Inicio</a></h2>
</div>