.container {
    /* border: 1px solid purple; */
    margin: 20px;
}

.titulo {
    text-align: center;
    margin: 15px;
}

.info-container {
    /* border: 1px solid red; */
    margin: 10px;
    display: flex;
    width: 100%;
}

.img-container {
    /* margin: auto; */
    width: 15%;
    /* border: 1px solid blue; */
    margin: auto 10px;
}

.img-container img {
    width: 100%;
}

.example-full-width {
    width: 100%;
    margin: 5px;
}

.formulario-container {
    /* border: 1px solid green; */
    width: 80%;
    margin: 15px;
}

.btn-container {
    /* border: 1px solid pink; */
    text-align: center;
    padding: 15px;
}

.boton {
    margin: 10px;
    padding: 10px;
}